.success-notif,
.warning-notif,
.error-notif {
  border-width: 1px;
  border-style: solid;
  background-position: 6px center;
  background-repeat: no-repeat;
  padding: 10px 6px 12px 38px;
  font-size: .9em;
  line-height: 1.2em; }

.success-notif {
  border-color: #2FBD2F;
  color: #317D31;
  background-color: #E3FFE3;
  background-image: url(images/success-icon.png); }

.warning-notif {
  border-color: #DEA428;
  color: #B07800;
  background-color: #FFF5E0;
  background-image: url(images/warning-icon.png); }

.error-notif {
  border-color: #C72828;
  color: #8A1111;
  background-color: #FFF2F2;
  background-image: url(images/error-icon.png); }
