<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="single-page">
                    <match url="^([^/]+)\/?$" />
                    <conditions>
                        <add input="{REQUESTED_FILE}" matchType="IsFile" negate="true" />
                        <add input="{REQUESTED_FILE}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?page={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
