/* =Elements
----------------------------------------------------------------------------- */
html {
  background: #353c44;
}

body {
  font: .8em/1.6em $sans_serif;
  color: $text_color;
}

h1, h2, h3, h4, h5, h6, #logo {
  font-family: $serif;
  color: $heading_color;
  line-height: 1em;
}

h1 {
  font-size: 2.2em;
  margin: 0 0 .8em;
}

h2 {
  font-size: 1.8em;
  margin: 0 0 .8em;
}

h3 {
  font-size: 1.6em;
  margin: 0 0 .8em;
}

p {
  margin: 0 0 1em;
}

a {
  color: $link_color;
  text-decoration: none;
}

a:hover {
  border-bottom: solid 2px $link_hover_color;
}

i, em {
  font-style: italic;
}

em {
  background-color: #353C44;
  color: white;
  padding: 1px 2px;
}

pre {
  margin: 0 0 20px;
  border-radius: 12px;
  box-shadow: 0 4px 4px #999;
}

code {
  font: 1.1em/1em $mono;
  color: $code_color;
}