/* =Header
----------------------------------------------------------------------------- */
#inner-header {
  background: url(images/header-noise.png) repeat #0f1923;
  border-bottom: solid 1px #3d444b;
}

#highlight-divider {
  height: 24px;
  border-top: solid 1px #010204;
  border-bottom: solid 1px #464c53;
  background: url(images/header-noise.png) repeat #39414a;
  box-shadow: 0 5px 3px #2d333a;
  z-index: 9999;
}

#logo {
  
  font-size: 48px;
  line-height: 48px;
  margin: 15px 0;
  color: white;
  width: 267px;
  height: 55px;
  overflow: hidden;
  text-indent: -2000px;
  background-image: url(images/logo.png);
  
  span {
    color: orange;
  }
  
}

/* =Main Navigation
----------------------------------------------------------------------------- */
#main-navigation {
  
  position: absolute;
  top: 24px;
  right: 0;
  overflow: hidden;
  
  li {
    float: left;
    overflow: hidden;
    margin: 0 0 0 18px;
  }
  
  a {

    display: block;
    float: left;
    overflow: hidden;

    span {
      display: block;
      float: left;
      padding: 10px 16px 12px;
      color: #fff;
      text-shadow: #000 0 1px 1px;
      text-decoration: none;
      font: 600 1.2em/1em 'Open sans', helvetica, sans-serif;
    }

  }

  a.current,
  a:hover {

    border: solid 1px #2b333b;
    border-radius: 4px;

    span {
      padding: 8px 14px 10px;
      border: solid 1px #141c25;
      border-radius: 4px;
      background: #2b333b;
      //@include grad(top, #7b00ba, #450068);
    }

  }

  a.current {
    cursor: default;
  }
  
}