#plugin-twitter {
  
  li {
  
    margin: 0 0 20px;
    border-bottom: solid 1px #dfdfdf;
    padding: 0 0 2px;
    
    img {
      display: block;
      float: left;
      margin: 0 8px 0 0;
    }
    
    cite {
      display: block;
      margin: 0 0 4px;
      font-size: 1.1em;
      
      a {
        color: purple;
      }
      
    }
    
    p {
      font-size: .9em;
      margin: 0;
    }
    
    .tweetdate {
      color: #ccc;
      text-align: right;
      margin: 0;
    }
    
  }
  
}