// colours
$link_color: #1c345b;
$link_hover_color: #ff9c00;
$code_color: #000;
$text_color: #333;
$heading_color: #0F1923;
$line_color: silver;

// fonts
$sans_serif: 
    'Lucida Sans Unicode'
  , 'Lucida Sans'
  , 'Lucida Grande'
  , helvetica
  , arial
  , sans-serif;
$serif: Georgia, serif;
$mono: 'Inconsolata', 'Courier New', monospace;